body {
    margin: 0;
    padding: 0;
    background-color: #111;
}

.parent {
    position: relative;
}

.contentContainer {
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    text-align: center;
}

.sequencerNode {
    width: 20px;
    height: 20px;
    background-color: #333;
}

.sequencerNode.checked {
    background-color: cornflowerblue;
}