@font-face {
    font-family: BebasNeue;
    src: url(fonts/bebasneue.otf);
}

body {
    margin: 0;
    padding: 0;
    background-color: #111;
}

.parent {
    position: relative;
    z-index: 1;
}

.contentContainer {
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    text-align: center;
    max-width: 95vw;
    max-height: 95vh;
}

.title {
    color: white;
    font-family: BebasNeue;
    font-size: 5vh;
    margin: 12px 0 8px 0;
}

#sequencerGrid {
    border-collapse: collapse;
    width: 100%;
}

.sequencerNode {
    width: calc(95vw / 16 - 4px);
    height: calc(95vw / 16 - 4px);
    max-width: calc(60vh / 16 - 4px);
    max-height: calc(60vh / 16 - 4px);
    background-color: #333;
}

.sequencerNode:hover {
    background-color: #444;
}

.sequencerNode:active {
    background-color: #222;
}

.sequencerNode.checked {
    background-color: cornflowerblue;
}

.sequencerNode.checked:hover {
    background-color: #7EA6EA;
}

.sequencerNode.checked:active {
    background-color: #3879EA;
}

.sequencerNode.selected {
    background-color: #555;
}

.sequencerNode.selected:hover {
    background-color: #707070; 
}

.sequencerNode.selected:active {
    background-color: #444;
}

.sequencerNode.checked.selected {
    background-color: #0DF
}

.sequencerNode.checked.selected:hover {
    background-color: #93F0FF;
}

.sequencerNode.checked.selected:active {
    background-color: #00A7FF;
}

.buttonContainer {
    margin-top: 8px;
    height: 6vh;
}

.controlButton {
    display: inline-block;
    position: relative;
    padding: 0;
    width: calc(33% - 4px);
    height: 100%;
    background-color: #222;
}

.controlButton:hover {
    background-color: #333;
}

.controlButton:active {
    background-color: #1D1D1D;
}

.controlButton p {
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    font-family: BebasNeue;
    font-size: 4vh;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

#btnStart {
    float: left;
}

#btnStop {
    float: right;
}

.waveformContainer {
    width: 100%;
    height: 6vh;
    text-align: justify;
    margin: 8px 0 0 0;
}

.waveformButton {
    display: inline-block;
    *display: inline;
    width: calc(25% - 6px);
    height: 100%;
    position: relative;
    background-color: #222;
}

.waveformButton:hover {
    background-color: #333;
}

.waveformButton:active {
    background-color: #1D1D1D;
}

.waveformButton.selected {
    background-color: cornflowerblue;
}

.waveformButton.selected:hover {
    background-color: #7EA6EA   ;
}

.waveformButton.selected:active {
    background-color: #3879EA;
}

.waveformButton img {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 3vh;
    transform: translate(-50%, -50%);
}

.waveformButton img.blur {
    display: none;
    -webkit-filter: blur(2px);
    filter: blur(2px);
}

.waveformButton.selected img.blur {
    display: inline;
}

.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0;
}

#scalesButton {
    float: left;
    width: calc(33% - 4px);
    height: 100%;
    position: relative;
    background-color: #222;
}

#scalesButton:hover {
    background-color: #333;
}

#scalesButton:active {
    background-color: #1D1D1D;
}

#scalesButton p {
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    font-family: BebasNeue;
    font-size: 4vh;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

#randomiseButton {
    display: inline-block;
    width: calc(33% - 4px);
    height: 100%;
    position: relative;
    background-color: #222;
}

#randomiseButton:hover {
    background-color: #333;
}

#randomiseButton:active {
    background-color: #1D1D1D;
}

#randomiseButton.selected {
    background-color: cornflowerblue;
}

#randomiseButton.selected:hover {
    background-color: #7EA6EA   ;
}

#randomiseButton.selected:active {
    background-color: #3879EA;
}

#randomiseButton p {
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    font-family: BebasNeue;
    font-size: 4vh;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

#randomiseButton p.blur {
    display: none;
    -webkit-filter: blur(2px);
    filter: blur(2px);
    opacity: 0.75;
}

#randomiseButton.selected p.blur {
    display: inline-block;
}

#shareButton {
    float: right;
    width: calc(33% - 4px);
    height: 100%;
    position: relative;
    background-color: #222;
}

#shareButton:hover {
    background-color: #333;
}

#shareButton:active {
    background-color: #1D1D1D;
}

#shareButton p {
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    font-family: BebasNeue;
    font-size: 4vh;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.version {
    color: #444;
    font-family: BebasNeue;
    font-size: 2.5vh;
    margin: 20px 0 0 0;
}

.copyright {
    color: #444;
    font-family: BebasNeue;
    font-size: 3vh;
    margin: 4px 0 0 0;
}

.dialog {
    position: absolute;
    width: 100%;
    min-height: 100%;
    margin: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.75);
    display: none;
}

.dialog.active {
    display: inline;
}

#shareContainer {
    position: absolute;
    text-align: center;
    width: 90vw;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #111;
}

.headerContainer {
    margin: 4vh 0 0 0;
    display: inline-block;
    width: 100%;
    height: auto;
}

.headerContainer p {
    margin: 0;
    max-width: 80vw;
    font-family: BebasNeue;
    font-size: 4vh;
    color: white;
    margin: auto;
    left: 50%;
}

#shareLinkContainer {
    width: calc(100% - 4vh);
    height: 6vh;
    margin: 2vh 2vh 0 2vh;
    display: inline-block;
}

#shareLink {
    width: calc(100% - 12vh - 4px);
    height: 100%;
    border: none;
    padding: 0;
    font-family: BebasNeue;
    font-size: 4vh;
    color: black;
    float: left;
}

#copyLink {
    position: relative;
    width: 12vh;
    height: 100%;
    margin-left: 4px;
    float: left;
    background-color: #222;
}

#copyLink:hover {
    background-color: #333;
}

#copyLink:active {
    background-color: #1D1D1D;
}

#copyLink p {
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    font-family: BebasNeue;
    font-size: 4vh;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

#closeShareButton {
    display: inline-block;
    position: relative;
    width: 20vh;
    height: 6vh;
    max-width: 80vw;
    background-color: #222;
    margin: 4vh 0 2vh 0;
}

#closeShareButton:hover {
    background-color: #333;
}

#closeShareButton:active {
    background-color: #1D1D1D;
}

#closeShareButton p {
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    font-family: BebasNeue;
    font-size: 4vh;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

#scalesContainer {
    position: absolute;
    text-align: center;
    width: 90vw;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #111;
}

#tonalityContainer {
    margin: 2vh 0 0 0;
    display: inline-block;
    text-align: center;
    height: 6vh;
    width: 90%;
}

#majorButton {
    float: left;
    position: relative;
    height: 100%;
    width: calc(50% - 4px);
    background-color: #222;
}

#majorButton:hover {
    background-color: #333;
}

#majorButton:active {
    background-color: #1D1D1D;
}

#majorButton.selected {
    background-color: cornflowerblue;
}

#majorButton.selected:hover {
    background-color: #7EA6EA   ;
}

#majorButton.selected:active {
    background-color: #3879EA;
}

#majorButton p {
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    font-family: BebasNeue;
    font-size: 4vh;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

#majorButton p.blur {
    display: none;
    -webkit-filter: blur(2px);
    filter: blur(2px);
    opacity: 0.75;
}

#majorButton.selected p.blur {
    display: inline-block;
}

#minorButton {
    float: right;
    position: relative;
    height: 100%;
    width: calc(50% - 4px);
    background-color: #222;
}

#minorButton:hover {
    background-color: #333;
}

#minorButton:active {
    background-color: #1D1D1D;
}

#minorButton.selected {
    background-color: cornflowerblue;
}

#minorButton.selected:hover {
    background-color: #7EA6EA   ;
}

#minorButton.selected:active {
    background-color: #3879EA;
}

#minorButton p {
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    font-family: BebasNeue;
    font-size: 4vh;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

#minorButton p.blur {
    display: none;
    -webkit-filter: blur(2px);
    filter: blur(2px);
    opacity: 0.75;
}

#minorButton.selected p.blur {
    display: inline-block;
}

#keyContainer {
    margin: 2vh 0 0 0;
    display: inline-block;
    text-align: center;
    height: 6vh;
    width: 90%;
}

.keyButton {
    display: inline-block;
    position: relative;
    width: calc((100% / 7) - 4px);
    height: 100%;
    background-color: #222;
}

.keyButton:hover {
    background-color: #333;
}

.keyButton:active {
    background-color: #1D1D1D;
}

.keyButton.selected {
    background-color: cornflowerblue;
}

.keyButton.selected:hover {
    background-color: #7EA6EA   ;
}

.keyButton.selected:active {
    background-color: #3879EA;
}

.keyButton p {
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    font-family: BebasNeue;
    font-size: 4vh;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.keyButton p.blur {
    display: none;
    -webkit-filter: blur(2px);
    filter: blur(2px);
    opacity: 0.75;
}

.keyButton.selected p.blur {
    display: inline-block;
}

#closeScalesButton {
    display: inline-block;
    position: relative;
    width: 20vh;
    height: 6vh;
    max-width: 80vw;
    background-color: #222;
    margin: 4vh 0 2vh 0;
}

#closeScalesButton:hover {
    background-color: #333;
}

#closeScalesButton:active {
    background-color: #1D1D1D;
}

#closeScalesButton p {
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    font-family: BebasNeue;
    font-size: 4vh;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}