body {
    margin: 0;
    padding: 0;
    background-color: #111;
}

.parent {
    position: relative;
}

.contentContainer {
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    text-align: center;
}

.sequencerNode {
    width: 20px;
    height: 20px;
    background-color: #333;
}

.sequencerNode.checked {
    background-color: cornflowerblue;
}

.buttonContainer {
    height: 50px;
}

.controlButton {
    display: inline-block;
    width: 45%;
    height: 50px;
    margin: 5px;
    background-color: #222;
}

.controlButton:hover {
    background-color: #333;
}

.controlButton p {
    display: inline-block;
    vertical-align: middle;
    color: white;
}

#btnStart {
    float: left;
}

#btnStop {
    float: right;
}